// COLORS
$darkBlue: #1f1d2b;
$lighBlue: #252836;
$orange: #e07612;
$white: #fff;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 44px;
  text-align: center;
  padding-top: 40px;
  margin-bottom: 50px;
  color: $white;
}

header {
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
    background-color: $darkBlue;

    ul {
      display: flex;
      justify-content: flex-end;
      list-style: none;
      gap: 15px;

      li {
        a {
          text-decoration: none;
          color: #222;
          font-size: 16px;
          color: $white;
          position: relative;
          padding: 0 10px;
          &::after {
            content: ']';
            position: absolute;
            display: block;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            color: $orange;
            opacity: 0;
            transition: 0.3s;
          }
          &::before {
            content: '[';
            position: absolute;
            display: block;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
            color: $orange;
            opacity: 0;
            transition: 0.3s;
          }
          &:hover {
            color: $orange;
            &::before {
              opacity: 1;
              left: 0;
              transition: 0.3s;
            }
            &::after {
              opacity: 1;
              right: 0;
              transition: 0.3s;
            }
          }
        }
      }
      .active {
        a {
          color: $orange;
        }
      }
    }

    .logo {
      a {
        color: $orange;
        text-decoration: none;
        font-weight: 500;
        font-size: 22px;
      }
    }
  }

  .time-date {
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
    background-color: $lighBlue;

    p {
      display: flex;
      align-items: center;
      gap: 10px;
      color: $white;
      font-size: 14px;
    }
  }
}

main {
  min-height: calc(100vh - 115px);
  background-color: $lighBlue;
  .book-ul {
    max-width: 850px;
    margin: auto;
    list-style: none;
    background-color: $darkBlue;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 12px 15px;
      color: $orange;
      .removeBtn {
        color: $white;
        background-color: $orange;
        border: 1px solid #e07612;
        padding: 12px 30px;
        transition: 0.3s;
        outline: none;
        cursor: pointer;
        &:hover {
          background-color: transparent;
          color: $orange;
          transition: 0.3s;
        }
      }
    }

  }

  form {
    margin: 10% auto;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
      width: 100%;
      margin-bottom: 10px;
    }

    button {
      align-self: flex-end;
      color: $white;
      background-color: $orange;
      border: 1px solid #e07612;
      padding: 12px 30px;
      transition: 0.3s;
      outline: none;
      &:hover {
        background-color: transparent;
        color: $orange;
        transition: 0.3s;
      }
    }
  }

  .contact {
    max-width: 600px;
    margin: 0 auto;

    p {
      margin-bottom: 20px;
    }

    ul {
      a {
        text-decoration: none;
      }
    }
  }
}

footer {
  padding: 12px 15px;
  background-color: $darkBlue;
  color: $white;
}
